* {
  box-sizing: content-box;
  padding: 0px;
  margin: 0px;
}

header {
  position: fixed;
  top: 0px;
  width:100%;
  height: 75px;
  margin:0px;
  background-color: black;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.headerContent {
  height: 100%;
  width: 100vw;
  max-width:1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.leftHeaderContent {
  height: 55px;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.spacexImageBox {
  width:200px;
  height: 30px;
  background-color: gray;
  text-align: center;
  overflow: hidden;
  margin-left: 3px;
}

.spacexImageBox > img {
  border: none;
  margin: 0px;
  height: 140px;
  position: relative;
  left: -10px;
  top: -60px;
}

.mainMenuBox {
  width: 380px;
  height: 20px;
}

.mainMenuBox > ul {
  list-style-type: none;
}

.mainMenuBox > ul > li {
  display: inline;
  margin:7px;
  font-size: 14px;
  font-weight: 400;
  color: white;
}

.mainMenuBox > ul > li:hover {
  text-decoration: underline;
}

.menuBox {
  width: 300px;
  height: 20px;
  margin-right: 30px;
}

.menuBox > ul {
  list-style-type: none;
}

.menuBox > ul > li {
  display: inline;
  font-size: 12px;
  margin: 5px;
  font-weight: 600;
  color: gray;
}

.menuBox > ul > li:hover {
  text-decoration: underline;
}

.imageCara {
  width: 100vw;
  min-width: 600px;
  height: 530px;
  background-size:cover;
  background-position: left;
  background-image: url('https://www.nasaspaceflight.com/wp-content/uploads/2019/02/201922-171546.jpg');
  display: flex;
  align-items: flex-end;
}

.caraInfo{
  width: 100%;
  min-width:600px;
  height: 160px;
  background-color: rgba(0, 0, 0, 0.5);
}

.caraTitle {
  color: white;
  font-size: 30px;
  font-weight: 700;
  margin: 20px;
}

.caraInfo > button {
  height: 36px;
  width: 180px;
  font-size: 12px;
  border-radius: 4px;
  position: relative;
  left: 770px;
  bottom: 40px;
}

.caraSelector {
  width: 100%;
  height: 70px;
  background-color:rgb(40, 40, 45);
  position: relative;
  bottom: 24px;
  text-align: center;
  min-width: 600px;
  white-space: nowrap;
}

.caraSelector div {
  color: white;
  width: 200px;
 display: inline-block;
  font-size: 12px;
  margin:0px;
  padding: 25px;
}

.caraSelector div:hover{
  background-color: rgba(0, 0, 0, 0.5);
}

.secondHeader {
  width: 100%;
  height: 150px;
  text-align: center;
  position: relative;
  top: 70px;
  min-width: 600px;
  white-space: nowrap;
  font-size: 17px;
  font-weight: 550;
}

.otherLinks {
  width: 100%;
  height: 270px;
  background-color: gray;
  display: flex;
  justify-content: center;
}

.otherLinks div {
  min-width: 300px;
  width:300px;
  margin: 20px;
  border: 5px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.otherLinks div img {
  width: 80%;
}